.center {
	display: flex;
	justify-content: center;
	align-items: center
}

.hero {
	background: black url(/images/hero-header.png) center / cover;
}

/* @media screen and (min-width: 1024px) {
.navbar-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
	height: 70px;
	align-items: center;
	}
} */

.navbar-item {
	padding: 5px 30px;
}